body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f2b5;
  background: -webkit-linear-gradient(to right, #135058, #f1f2b5);
  background: linear-gradient(to right, #135058, #f1f2b5);
}

.SnackbarItem-variantSuccess {
  background-color: #8cbf84 !important;
}

.SnackbarItem-variantError {
  background-color: #b84f5f !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
